alpide-daq-software @ file:///home/npl/Telescope/alpide-daq-software
apturl==0.5.2
astroid==3.3.10
asttokens==3.0.1
async-timeout==4.0.3
autopep8==2.3.2
bcrypt==3.2.0
bitstring==3.1.9
blinker==1.9.0
Brlapi==0.8.3
certifi==2020.6.20
chardet==4.0.0
charset-normalizer==3.4.2
click==8.3.1
colorama==0.4.4
comm==0.2.3
command-not-found==0.3
contourpy==1.3.2
cryptography==3.4.8
cupshelpers==1.0
cycler==0.12.1
dbus-python==1.2.18
debugpy==1.8.21
decorator==5.3.1
defer==1.0.6
Deprecated==1.3.1
dill==0.4.0
distro==1.7.0
distro-info==1.1+ubuntu0.2
duplicity==0.8.21
exceptiongroup==1.3.0
executing==2.2.1
fasteners==0.14.1
Flask==3.1.2
fonttools==4.58.1
ftd2xx==1.3.1
future==0.18.2
gazpacho==1.1
httplib2==0.20.2
idna==3.3
importlib-metadata==4.6.4
iniconfig==2.1.0
ipykernel==7.2.0
ipython==8.39.0
iso8601==2.1.0
isort==6.0.1
itsdangerous==2.2.0
jedi==0.20.0
jeepney==0.7.1
Jinja2==3.1.6
jupyter_client==8.9.0
jupyter_core==5.9.1
keyring==23.5.0
kiwisolver==1.4.8
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
libtmux==0.46.2
lockfile==0.12.2
louis==3.20.0
macaroonbakery==1.3.1
Mako==1.1.3
markdown-it-py==3.0.0
MarkupSafe==3.0.3
matplotlib==3.10.3
matplotlib-inline==0.2.2
mccabe==0.7.0
mdurl==0.1.2
monotonic==1.6
more-itertools==8.10.0
nest-asyncio==1.6.0
netifaces==0.11.0
numpy==2.2.6
oauthlib==3.2.0
olefile==0.46
packaging==25.0
pandas==2.2.3
paramiko==2.9.3
parso==0.8.7
pexpect==4.8.0
Pillow==9.0.1
platformdirs==4.3.8
pluggy==1.6.0
prompt_toolkit==3.0.52
protobuf==3.12.4
psutil==5.9.0
psycopg2-binary==2.9.11
ptyprocess==0.7.0
pure_eval==0.2.3
pycairo==1.20.1
pycodestyle==2.13.0
pycups==2.0.1
pyftdi==0.56.0
Pygments==2.19.1
PyGObject==3.42.1
PyJWT==2.3.0
pylint==3.3.7
pymacaroons==0.13.0
PyNaCl==1.5.0
pyparsing==2.4.7
pyRFC3339==1.1
pyserial==3.5
pytest==8.4.0
python-apt==2.4.0+ubuntu4.1
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
pytz==2025.2
pyusb==1.3.1
pyvcd==0.4.1
pyxdg==0.27
PyYAML==6.0.2
pyzmq==27.1.0
quote==3.0
random_word==1.0.13
regex==2024.11.6
reportlab==3.6.8
requests==2.32.3
rich==14.0.0
scipy==1.15.3
screen-resolution-extra==0.0.0
SecretStorage==3.3.1
serial==0.0.97
six==1.16.0
ssh-import-id==5.11
stack-data==0.6.3
systemd-python==234
timeout-decorator==0.5.0
tomli==2.2.1
tomlkit==0.13.2
tornado==6.5.6
tqdm==4.67.1
traitlets==5.15.1
triggerboard @ file:///home/npl/Telescope/trigger
typing_extensions==4.14.0
tzdata==2025.2
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufw==0.36.1
unattended-upgrades==0.1
uncertainties==3.2.3
urllib3==1.26.5
urwid==3.0.2
urwid-timed-progress==1.1.1
usb-creator==0.3.7
wadllib==1.3.6
wcwidth==0.2.13
Werkzeug==3.1.4
wrapt==2.1.2
xdg==5
xdot==1.2
xkit==0.0.0
zipp==1.0.0
